@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Courgette&display=swap');

:root {
  --box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

* {
  box-sizing: border-box;
}

body {
  background-image: linear-gradient( to right, rgb(39, 91, 43),rgb(56, 56, 56), rgb(121, 23, 23) );
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  margin: 0;
  font-family: 'Lato', sans-serif;
}

.container {
  margin: 30px auto;
  width: 350px;
  
}

h2{
    font-size: 25px;
    text-shadow: 2px 2px 2px   #878885;
    color: #000307;
    
}

h1 {
  letter-spacing: 1px;
  margin: 0;
  color: #2e75cc;
  text-shadow: 1px 1px 1px rgb(0, 0, 0);
}

h3 {
  border-bottom: 1px solid #bbb;
  padding-bottom: 10px;
  margin: 40px 0 10px;
  
}

h4 {
  margin: 0;
  text-transform: uppercase;
}

.inc-exp-container {
  background-image: linear-gradient(45deg, rgba(110, 190, 110, 0.568), rgba(201, 67, 67, 0.726));
  box-shadow: var(--box-shadow);
  padding: 20px;
  display: flex;
  justify-content: space-between;
  margin: 20px 0;
  box-shadow: 5px 5px 5px #1c1c1c;
  border-radius: 5px;
  border: 1px solid rgba(71, 70, 70, 0.507);
}

.inc-exp-container > div {
  flex: 1;
  text-align: center;
}

.inc-exp-container > div:first-of-type {
  border-right: 1px solid #dedede;
}

.money {
  font-size: 20px;
  letter-spacing: 1px;
  margin: 5px 0;
 
}

.money.plus {
  color: #4cee3e;
  text-shadow: 1px 1px 1px rgb(0, 0, 0);
}

.money.minus {
  color: #c0392b;
  text-shadow: 1px 1px 1px rgb(0, 0, 0);
}

label {
  display: inline-block;
  margin: 10px 0;
}

input[type='text'],
input[type='number'] {
  border: 1px solid #000;
  border-radius: 5px;
  display: block;
  font-family: 'Courgette', cursive;
  font-size: 16px;
  padding: 10px;
  width: 100%;  
} 

input:active{
  border: none;
}

.btn {
  cursor: pointer;
  background-color: #2a0ea7;
  box-shadow: var(--box-shadow);
  color: #fff;
  text-shadow: 1px 1px 1px #000;
  font-weight: bold;
  font-size: 14px;
  border: 1px solid #1c1c1c;
  display: block;  
  margin: 20px 0;
  padding: 10px;
  width: 100%;
  border-radius: 5px;
  text-transform: uppercase;
}

.btn:hover{
 
  background-color: #765ce9;
  
  color: #000;
  

}



.btn:focus,
.delete-btn:focus {
  outline: 0;
}

.transactions {
  list-style-type: none;
  padding: 0;
  margin-bottom: 40px;
}

.transactions li {
  background-color: #fff;
  box-shadow: var(--box-shadow);
  color: #333;
  font-size: 16px;
  font-weight: bolder;
  color: #000;
  border-radius: 5px;  
  display: flex;
  justify-content: space-between;
  position: relative;
  padding: 10px;
  margin: 10px 0;
}

.transactions li.plus {
  border-right: 10px solid #2ecc71;
}

.transactions li.minus {
  border-right: 10px solid #c0392b;
}

.alert {
  color: #ff000f;
  font-size: 15px;
  font-weight: bolder;  
  display: flex;
  position: relative;
  box-shadow:  var(--box-shadow);
}

.delete-btn {
  cursor: pointer;
  background-color: #e74c3c;
  border: 0;
  color: #fff;
  font-size: 20px;
  line-height: 20px;
  padding: 2px 5px;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(-100%, -50%);
  opacity: 0;
  transition: opacity 0.3s ease;
}

.transactions li:hover .delete-btn {
  opacity: 1;
}